[Unit]
Description=Minimal Antivirus For Linux with Web GUI
Documentation=https://github.com/KooshaYeganeh/KYGnus-Guard-community
After=NetworkManager.service mariadb.service
[Service]
Type=simple
ExecStart=/bin/bash /opt/KYGnus-Guard-Community/KYGnus_Guard.sh
ExecStop=/bin/bash  /opt/KYGnus-Guard-Community/KYGnus_Guard.sh --Kill
ExecReload=/bin/bash /opt/KYGnus-Guard-Community/KYGnus_Guard.sh --HUP


[Install]
WantedBy=multi-user.target
