<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="../static/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="../static/assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>
		KYGnus
	</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
		name='viewport' />
	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="../static/google_fonts.css" />
	<link rel="stylesheet" href="../static/font-awesome.min_bootstrap.css">
	<!-- CSS Files -->
	<link href="../static/assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900' rel='stylesheet'
		type='text/css'>
	<link href="../static/icons.css" rel="stylesheet">
	<link href="../static/assets/demo/demo.css" rel="stylesheet" />
	<link rel="stylesheet" href="../static/bootstrap-icons.css">
	<link rel="stylesheet" href="../static/assets/icons.css">
	<script src="../static/lib/chart-master/Chart.js"></script>


</head>

<body class="dark-edition">
	<div class="wrapper ">
		<div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
			<!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
			<div class="logo"><a href="/home" class="simple-text logo-normal">
					KYGnus
				</a></div>
			<div class="sidebar-wrapper">
				<ul class="nav">
					<li class="nav-item active">
						<a class="nav-link" href="#">
							<i class=" material-icons">dashboard</i>
							<p>Dashboard</p>
						</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="/av">
							<i class="material-icons">security</i>
							<p>Antivirus</p>
						</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="/network">
							<i class="material-icons">wifi</i>
							<p>network</p>
						</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="/vulnerability">
							<i class="material-icons">check</i>
							<p>check Vulnerabilty</p>
						</a>
					</li>

					</li>
					<li class="nav-item ">
						<a class="nav-link" href="/Downloads">
							<i class="material-icons">download</i>
							<p>Downloads</p>
						</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="/support">
							<i class="material-icons">info</i>
							<p>Support</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="main-panel">
			<!-- Navbar -->
			<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
				<div class="container-fluid">
					<div class="navbar-wrapper">
						<a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
					</div>
					<button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
						aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
						<span class="sr-only">Toggle navigation</span>
						<span class="navbar-toggler-icon icon-bar"></span>
						<span class="navbar-toggler-icon icon-bar"></span>
						<span class="navbar-toggler-icon icon-bar"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-end">
						<form class="navbar-form" action="/search/all" method="post">
							<div class="input-group no-border">
								<input type="text" name="search" value="" class="form-control"
									placeholder="Search in system">
								<button type="submit" class="btn btn-default btn-round btn-just-icon">
									<i class="material-icons">search</i>
									<div class="ripple-container"></div>
								</button>
							</div>
						</form>
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="javascript:void(0)">
									<i class="material-icons">dashboard</i>
									<p class="d-lg-none d-md-block">
										INFO
									</p>


								</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="javascript:void(0)">
									<i class="material-icons">Gnu</i>
									<p class="d-lg-none d-md-block">
										Account
									</p>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- End Navbar -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header card-header-warning card-header-icon">
									<div class="card-icon">
										<i class="fa fa-linux"></i>
									</div>
									<p class="card-category">clamav</p>
									<h3 class="card-title">{{clamav}}

									</h3>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons text-warning">warning</i>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header card-header-success card-header-icon">
									<div class="card-icon">
										<i class="material-icons">shield</i>
									</div>
									<p class="card-category">Selinux</p>
									<h3 class="card-title">{{sestatus}}</h3>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons text-warning">warning</i>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header card-header-danger card-header-icon">
									<div class="card-icon">
										<i class="material-icons">shield</i>
									</div>
									<p class="card-category">Firewalld</p>
									<h3 class="card-title">{{firewalld}}</h3>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons text-warning">warning</i>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header card-header-info card-header-icon">
									<div class="card-icon">
										<i class="fa fa-database"></i>
									</div>
									<p class="card-category">MariaDB</p>
									<h3 class="card-title">{{maria}}</h3>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons text-warning">warning</i>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row" style="text-align:center">
						<div class="col-md-4 col-sm-4 mb">
							<div class="grey-panel pn donut-chart">
								<div class="grey-header">
									<h5 style="color:bisque">Database Recorded Malicious Url</h5>
								</div>
								<canvas id="serverstatus01" height="120" width="200"></canvas>
								<script>
									var doughnutData = [{
										value: 70,
										color: "#FF6B6B"
									},
									{
										value: 30,
										color: "#fdfdfd"
									}
									];
									var myDoughnut = new Chart(document.getElementById("serverstatus01").getContext("2d")).Doughnut(doughnutData);
								</script>
								<div class="row">
									<div class="col-sm-6 col-xs-6 goleft">
										<p style="color:bisque">Malicious URLs</p>
									</div>
									<div class="col-sm-6 col-xs-6">
										<h5 style="color:bisque">{{malware_url}}</h5>
									</div>
								</div>
							</div>
							<!-- /grey-panel -->
						</div>
						<!-- /col-md-4-->
						<div class="col-md-4 col-sm-4 mb">
							<div class="darkblue-panel pn">
								<div class="darkblue-header">
									<h5 style="color:bisque">App Disk Usage</h5>
								</div>
								<canvas id="serverstatus02" height="120" width="120"></canvas>
								<script>
									var doughnutData = [{
										value: 60,
										color: "#1c9ca7"
									},
									{
										value: 40,
										color: "#f68275"
									}
									];
									var myDoughnut = new Chart(document.getElementById("serverstatus02").getContext("2d")).Doughnut(doughnutData);
								</script>
								<footer>
									<div class="pull-left">
										<h5 style="color:bisque">Usage:</h5>
									</div>
									<div class="pull-right">
										<h5 style="color:bisque">{{app_usage}}</h5>
									</div>
								</footer>
							</div>
							<!--  /darkblue panel -->
						</div>
						<!-- /col-md-4 -->
						<div class="col-md-4 col-sm-4 mb">
							<div class="green-panel pn">
								<div class="green-header">
									<h5 style="color:bisque">Quarantine Files</h5>
								</div>
								<canvas id="serverstatus03" height="120" width="120"></canvas>
								<script>
									var doughnutData = [{
										value: 60,
										color: "#2b2b2b"
									},
									{
										value: 40,
										color: "#fffffd"
									}
									];
									var myDoughnut = new Chart(document.getElementById("serverstatus03").getContext("2d")).Doughnut(doughnutData);
								</script>
								<h3 style="color:bisque">{{num_quarantine}}</h3>
							</div>
						</div>
						<!-- /col-md-4 -->
					</div>
					<footer class="site-footer" style="margin-top: 80px;">
						<div class="text-left">

							<div class="credits">
								App Developed By : <span style="color:aqua">Koosha Yeganeh -> <span> <a
											href="https://github.com/KooshaYeganeh">Github</a>
							</div>
						</div>
					</footer>
					<script>
						const x = new Date().getFullYear();
						let date = document.getElementById('date');
						date.innerHTML = '&copy; ' + x + date.innerHTML;
					</script>
				</div>
			</div>

			<!--   Core JS Files   -->
			<script src="../static/assets/js/core/jquery.min.js"></script>
			<script src="../static/assets/js/core/popper.min.js"></script>
			<script src="../static/assets/js/core/bootstrap-material-design.min.js"></script>
			<script src="https://unpkg.com/default-passive-events"></script>
			<script src="../static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
			<!-- Place this tag in your head or just before your close body tag. -->
			<script async defer src="https://buttons.github.io/buttons.js"></script>
			<!--  Google Maps Plugin    -->
			<!-- Chartist JS -->
			<script src="../static/assets/js/plugins/chartist.min.js"></script>
			<!--  Notifications Plugin    -->
			<script src="../static/assets/js/plugins/bootstrap-notify.js"></script>
			<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
			<script src="../static/assets/js/material-dashboard.js?v=2.1.0"></script>
			<!-- Material Dashboard DEMO methods, don't include it in your project! -->
			<script src="../static/assets/demo/demo.js"></script>
			<script src="../static/angular.min.js"></script>
			<script src="../static/stream_layers.js"></script>
			<script src="../static/fa.js"></script>
			<script>
				$(document).ready(function () {
					$().ready(function () {
						$sidebar = $('.sidebar');

						$sidebar_img_container = $sidebar.find('.sidebar-background');

						$full_page = $('.full-page');

						$sidebar_responsive = $('body > .navbar-collapse');

						window_width = $(window).width();

						$('.fixed-plugin a').click(function (event) {
							// Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
							if ($(this).hasClass('switch-trigger')) {
								if (event.stopPropagation) {
									event.stopPropagation();
								} else if (window.event) {
									window.event.cancelBubble = true;
								}
							}
						});

						$('.fixed-plugin .active-color span').click(function () {
							$full_page_background = $('.full-page-background');

							$(this).siblings().removeClass('active');
							$(this).addClass('active');

							var new_color = $(this).data('color');

							if ($sidebar.length != 0) {
								$sidebar.attr('data-color', new_color);
							}

							if ($full_page.length != 0) {
								$full_page.attr('filter-color', new_color);
							}

							if ($sidebar_responsive.length != 0) {
								$sidebar_responsive.attr('data-color', new_color);
							}
						});

						$('.fixed-plugin .background-color .badge').click(function () {
							$(this).siblings().removeClass('active');
							$(this).addClass('active');

							var new_color = $(this).data('background-color');

							if ($sidebar.length != 0) {
								$sidebar.attr('data-background-color', new_color);
							}
						});

						$('.fixed-plugin .img-holder').click(function () {
							$full_page_background = $('.full-page-background');

							$(this).parent('li').siblings().removeClass('active');
							$(this).parent('li').addClass('active');


							var new_image = $(this).find("img").attr('src');

							if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
								$sidebar_img_container.fadeOut('fast', function () {
									$sidebar_img_container.css('background-image', 'url("' + new_image + '")');
									$sidebar_img_container.fadeIn('fast');
								});
							}

							if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
								var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

								$full_page_background.fadeOut('fast', function () {
									$full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
									$full_page_background.fadeIn('fast');
								});
							}

							if ($('.switch-sidebar-image input:checked').length == 0) {
								var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
								var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

								$sidebar_img_container.css('background-image', 'url("' + new_image + '")');
								$full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
							}

							if ($sidebar_responsive.length != 0) {
								$sidebar_responsive.css('background-image', 'url("' + new_image + '")');
							}
						});

						$('.switch-sidebar-image input').change(function () {
							$full_page_background = $('.full-page-background');

							$input = $(this);

							if ($input.is(':checked')) {
								if ($sidebar_img_container.length != 0) {
									$sidebar_img_container.fadeIn('fast');
									$sidebar.attr('data-image', '#');
								}

								if ($full_page_background.length != 0) {
									$full_page_background.fadeIn('fast');
									$full_page.attr('data-image', '#');
								}

								background_image = true;
							} else {
								if ($sidebar_img_container.length != 0) {
									$sidebar.removeAttr('data-image');
									$sidebar_img_container.fadeOut('fast');
								}

								if ($full_page_background.length != 0) {
									$full_page.removeAttr('data-image', '#');
									$full_page_background.fadeOut('fast');
								}

								background_image = false;
							}
						});

						$('.switch-sidebar-mini input').change(function () {
							$body = $('body');

							$input = $(this);

							if (md.misc.sidebar_mini_active == true) {
								$('body').removeClass('sidebar-mini');
								md.misc.sidebar_mini_active = false;

								$('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

							} else {

								$('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

								setTimeout(function () {
									$('body').addClass('sidebar-mini');

									md.misc.sidebar_mini_active = true;
								}, 300);
							}

							// we simulate the window Resize so the charts will get updated in realtime.
							var simulateWindowResize = setInterval(function () {
								window.dispatchEvent(new Event('resize'));
							}, 180);

							// we stop the simulation of Window Resize after the animations are completed
							setTimeout(function () {
								clearInterval(simulateWindowResize);
							}, 1000);

						});
					});
				});
			</script>
			<script>
				$(document).ready(function () {
					// Javascript method's body can be found in assets/js/demos.js
					md.initDashboardPageCharts();

				});
			</script>
			<script src="../static/lib/jquery/jquery.min.js"></script>
			<script src="../static/lib/lib/bootstrap/js/bootstrap.min.js"></script>
			<script class="include" type="text/javascript" src="../static/lib/lib/jquery.dcjqaccordion.2.7.js"></script>
			<script src="../static/lib/lib/jquery.scrollTo.min.js"></script>
			<script src="../static/lib/lib/jquery.nicescroll.js" type="text/javascript"></script>
			<script src="../static/lib/lib/jquery.sparkline.js"></script>
			<!--common script for all pages-->
			<script src="../static/lib/lib/common-scripts.js"></script>
			<!--script for this page-->
			<script src="../static/lib/lib/sparkline-chart.js"></script>

</body>

</html>