<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="../static/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="../static/assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>
		KYGnus-Network
	</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
		name='viewport' />
	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
	<!-- CSS Files -->
	<link href="../static/assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link href="../static/assets/demo/demo.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="../static/assets/demo/demo.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="../static/assets/icons.css">

	<link rel="stylesheet" href="../static/assets/icons.css">

</head>

<body class="dark-edition">
	<div class="wrapper ">
		<div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
			<!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
			<div class="logo"><a href="/home" class="simple-text logo-normal">
					KYGnus
				</a></div>
			<div class="sidebar-wrapper">
				<ul class="nav">
					<li class="nav-item active">
						<a class="nav-link" href="#">
							<i class=" material-icons">wifi</i>
							<p>network</p>
						</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="/network/url">
							<i class="bi bi-globe"></i>
							<p>Search Malicious URL</p>
						</a>
					</li>

					</li>
					<li class="nav-item ">
						<a class="nav-link" href="/Downloads">
							<i class="bi bi-download"></i>
							<p>Downloads</p>
						</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="/support">
							<i class="bi bi-info-circle-fill"></i>
							<p>Support</p>
						</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="/home">
							<i class="fa fa-home"></i>
							<p>Home</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="main-panel">
			<!-- Navbar -->
			<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
				<div class="container-fluid">
					<div class="navbar-wrapper">
						<a class="navbar-brand" href="javascript:void(0)">NetWork</a>
					</div>
				</div>
			</nav>
			<!-- End Navbar -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
							<div class="card card-stats">

								<div class="card-header card-header-warning card-header-icon">
									<div class="card-icon">
										<i class="fa fa-wifi"></i>
									</div>
									<p class="card-category">NetkManager</p>
									<h3 class="card-title">{{network}}

									</h3>
								</div>
								<div class="card-footer">
									<div class="stats">

										<i class="fa fa-linux"></i>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header card-header-success card-header-icon">
									<div class="card-icon">

										<i class="fa fa-shield"></i>
									</div>
									<p class="card-category">Fail2Ban</p>
									<h3 class="card-title">{{fail2ban}}</h3>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="fa fa-linux"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header card-header-danger card-header-icon">
									<div class="card-icon">
										<i class="material-icons">table</i>
									</div>
									<p class="card-category">samba Service</p>
									<h3 class="card-title">{{samba}}</h3>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="fa fa-linux"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header card-header-info card-header-icon">
									<div class="card-icon">
										<i class="fa fa-server"></i>
									</div>
									<p class="card-category">LDAP</p>
									<h3 class="card-title">{{ldap}}</h3>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="fa fa-linux"></i>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="card">
								<div class="card-header card-header-primary">
									<h4 class="card-title" style="color: black;">Network Ports</h4>
									<p class="card-category" style="color: black;">
										List of Common Network Port Numbers</p>
								</div>
								<div class="card-body table-responsive">
									<table class="table table-hover">
										<thead class="text-warning">
											<th>port</th>
											<th>Service name</th>
											<th>Transport protocol</th>
										</thead>
										<tbody>
											<tr>

												<td>20,21</td>
												<td>File Transfer Protocol(FTP)</td>
												<td>TCP</td>
											</tr>
											<tr>

												<td>22</td>
												<td>Secure Shell(ssh)</td>
												<td>TCP and UDP</td>
											</tr>
											<tr>

												<td>23</td>
												<td>Telnet</td>
												<td>TCP</td>
											</tr>
											<tr>

												<td>25</td>
												<td>Simple Mail Transifer Protocol(SMTP)</td>
												<td>TCP</td>
											</tr>
											<tr>

												<td>50,51</td>
												<td>ipSec</td>
												<td></td>
											</tr>
											<tr>

												<td>53</td>
												<td>Domain Name System(DNS)</td>
												<td>TCP and UDP</td>
											</tr>
											<tr>

												<td>67 and 68</td>
												<td> Dynamic Host Configuration Protocol (DHCP)</td>
												<td>UDP</td>
											</tr>
											<tr>

												<td>69</td>
												<td>Trivial File Transfer Protocol (TFTP)</td>
												<td>UDP</td>
											</tr>
											<tr>

												<td>80</td>
												<td> HyperText Transfer Protocol (HTTP)</td>
												<td>TCP</td>
											</tr>
											<tr>

												<td>110</td>
												<td>Post Office Protocol (POP3)</td>
												<td>TCP</td>
											</tr>
											<tr>

												<td>119</td>
												<td>Network News Transport Protocol (NNTP)</td>
												<td>TCP</td>
											</tr>
											<tr>

												<td>123</td>
												<td> Network Time Protocol (NTP)</td>
												<td>UDP</td>
											</tr>
											<tr>

												<td>135-139</td>
												<td>NetBIOS</td>
												<td>TCP and UDP</td>
											</tr>
											<tr>

												<td>143</td>
												<td>Internet Message Access Protocol (IMAP4)</td>
												<td>TCP and UDP</td>
											</tr>
											<tr>

												<td>161,162</td>
												<td>Simple Network Management Protocol (SNMP)</td>
												<td>TCP and UDP</td>
											</tr>
											<tr>

												<td>389</td>
												<td>Lightweight Directory Access Protocol(LDAP)</td>
												<td>TCP and UDP</td>
											</tr>
											<tr>

												<td>HTTP with Secure Sockets Layer (SSL)</td>
												<td>443</td>
												<td>TCP and UDP</td>
											</tr>
											<tr>

												<td> FTP over SSL/TLS (implicit mode)</td>
												<td>989,990</td>
												<td>TCP</td>
											</tr>
											<tr>

												<td> Remote Desktop Protocol</td>
												<td>3389</td>
												<td>TCp and UDP</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container-fluid">
					<nav class="float-left">
						<ul>
							<li>
								<a href="http://www.github.com/kooshakoosha">
									Developer
								</a>
							</li>
							<li>
								<a href="#">
									About Us
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</footer>
			<script>
				const x = new Date().getFullYear();
				let date = document.getElementById('date');
				date.innerHTML = '&copy; ' + x + date.innerHTML;
			</script>
		</div>
	</div>

	<!--   Core JS Files   -->
	<script src="../static/assets/js/core/jquery.min.js"></script>
	<script src="../static/assets/js/core/popper.min.js"></script>
	<script src="../static/assets/js/core/bootstrap-material-design.min.js"></script>
	<script src="https://unpkg.com/default-passive-events"></script>
	<script src="../static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
	<!-- Place this tag in your head or just before your close body tag. -->
	<script async defer src="https://buttons.github.io/buttons.js"></script>
	<!--  Google Maps Plugin    -->
	<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
	<!-- Chartist JS -->
	<script src="../static/assets/js/plugins/chartist.min.js"></script>
	<!--  Notifications Plugin    -->
	<script src="../static/assets/js/plugins/bootstrap-notify.js"></script>
	<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
	<script src="../static/assets/js/material-dashboard.js?v=2.1.0"></script>
	<!-- Material Dashboard DEMO methods, don't include it in your project! -->
	<script src="../static/assets/demo/demo.js"></script>
	<script src="../static/fa.js" crossorigin="anonymous"></script>
	<script>
		$(document).ready(function () {
			$().ready(function () {
				$sidebar = $('.sidebar');

				$sidebar_img_container = $sidebar.find('.sidebar-background');

				$full_page = $('.full-page');

				$sidebar_responsive = $('body > .navbar-collapse');

				window_width = $(window).width();

				$('.fixed-plugin a').click(function (event) {
					// Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
					if ($(this).hasClass('switch-trigger')) {
						if (event.stopPropagation) {
							event.stopPropagation();
						} else if (window.event) {
							window.event.cancelBubble = true;
						}
					}
				});

				$('.fixed-plugin .active-color span').click(function () {
					$full_page_background = $('.full-page-background');

					$(this).siblings().removeClass('active');
					$(this).addClass('active');

					var new_color = $(this).data('color');

					if ($sidebar.length != 0) {
						$sidebar.attr('data-color', new_color);
					}

					if ($full_page.length != 0) {
						$full_page.attr('filter-color', new_color);
					}

					if ($sidebar_responsive.length != 0) {
						$sidebar_responsive.attr('data-color', new_color);
					}
				});

				$('.fixed-plugin .background-color .badge').click(function () {
					$(this).siblings().removeClass('active');
					$(this).addClass('active');

					var new_color = $(this).data('background-color');

					if ($sidebar.length != 0) {
						$sidebar.attr('data-background-color', new_color);
					}
				});

				$('.fixed-plugin .img-holder').click(function () {
					$full_page_background = $('.full-page-background');

					$(this).parent('li').siblings().removeClass('active');
					$(this).parent('li').addClass('active');


					var new_image = $(this).find("img").attr('src');

					if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
						$sidebar_img_container.fadeOut('fast', function () {
							$sidebar_img_container.css('background-image', 'url("' + new_image + '")');
							$sidebar_img_container.fadeIn('fast');
						});
					}

					if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
						var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

						$full_page_background.fadeOut('fast', function () {
							$full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
							$full_page_background.fadeIn('fast');
						});
					}

					if ($('.switch-sidebar-image input:checked').length == 0) {
						var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
						var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

						$sidebar_img_container.css('background-image', 'url("' + new_image + '")');
						$full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
					}

					if ($sidebar_responsive.length != 0) {
						$sidebar_responsive.css('background-image', 'url("' + new_image + '")');
					}
				});

				$('.switch-sidebar-image input').change(function () {
					$full_page_background = $('.full-page-background');

					$input = $(this);

					if ($input.is(':checked')) {
						if ($sidebar_img_container.length != 0) {
							$sidebar_img_container.fadeIn('fast');
							$sidebar.attr('data-image', '#');
						}

						if ($full_page_background.length != 0) {
							$full_page_background.fadeIn('fast');
							$full_page.attr('data-image', '#');
						}

						background_image = true;
					} else {
						if ($sidebar_img_container.length != 0) {
							$sidebar.removeAttr('data-image');
							$sidebar_img_container.fadeOut('fast');
						}

						if ($full_page_background.length != 0) {
							$full_page.removeAttr('data-image', '#');
							$full_page_background.fadeOut('fast');
						}

						background_image = false;
					}
				});

				$('.switch-sidebar-mini input').change(function () {
					$body = $('body');

					$input = $(this);

					if (md.misc.sidebar_mini_active == true) {
						$('body').removeClass('sidebar-mini');
						md.misc.sidebar_mini_active = false;

						$('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

					} else {

						$('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

						setTimeout(function () {
							$('body').addClass('sidebar-mini');

							md.misc.sidebar_mini_active = true;
						}, 300);
					}

					// we simulate the window Resize so the charts will get updated in realtime.
					var simulateWindowResize = setInterval(function () {
						window.dispatchEvent(new Event('resize'));
					}, 180);

					// we stop the simulation of Window Resize after the animations are completed
					setTimeout(function () {
						clearInterval(simulateWindowResize);
					}, 1000);

				});
			});
		});
	</script>
	<script>
		$(document).ready(function () {
			// Javascript method's body can be found in assets/js/demos.js
			md.initDashboardPageCharts();

		});
	</script>
</body>

</html>