<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="../static/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="../static/assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>
		Url Results
	</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
		name='viewport' />
	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
	<!-- CSS Files -->
	<link href="../static/assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link href="../static/assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="dark-edition">
	<div class="wrapper ">
		<div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
			<!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
			<div class="logo"><a href="/" class="simple-text logo-normal">
					KYGnus
				</a></div>
			<div class="sidebar-wrapper">
				<ul class="nav">
					<li class="nav-item ">
						<a class="nav-link" href="/network/url">
							<i class="bi bi-network"></i>
							<p>URL search</p>
						</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="/home">
							<i class="bi bi-home"></i>
							<p>Home</p>
						</a>
					</li>

				</ul>
			</div>
		</div>
		<div class="main-panel">
			<!-- Navbar -->
			<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
				<div class="container-fluid">
					<div class="navbar-wrapper">
						<a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
					</div>
					<button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
						aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
						<span class="sr-only">Toggle navigation</span>
						<span class="navbar-toggler-icon icon-bar"></span>
						<span class="navbar-toggler-icon icon-bar"></span>
						<span class="navbar-toggler-icon icon-bar"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-end">
						<form class="navbar-form" action="/search" method="post">
							<div class="input-group no-border">
								<input type="text" name="search" value="" class="form-control"
									placeholder="Search in system">
								<button type="submit" class="btn btn-default btn-round btn-just-icon">
									<i class="material-icons">search</i>
									<div class="ripple-container"></div>
								</button>
							</div>
						</form>
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="javascript:void(0)">
									<i class="material-icons">dashboard</i>
									<p class="d-lg-none d-md-block">
										INFO
									</p>


								</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="javascript:void(0)">
									<i class="material-icons">person</i>
									<p class="d-lg-none d-md-block">
										Account
									</p>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header card-header-primary">
									<h3 class="card-title " style="color: black;">Some Trojans </h3>
									<h4 class="card-category" style="color: black;"> and Their Port Numbers</h4>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table">
											<thead class=" text-primary">
												<th>
													Num
												</th>
												<th>
													url
												</th>
											</thead>
											<tbody>
												<tr>
													{%for row in data%}
													{%for d in row%}
													<td>{{d}}</td>
													{% endfor %}
												</tr>
											</tbody>
											{% endfor %}
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="card card-plain">
								<div class="card-header card-header-primary">
									<h4 class="card-title mt-0"> Linux</h4>
									<p class="card-category"> Detect Most Common Malicious Actions in the Linux
										Environment</p>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-hover">
											<thead class="">
												<th>
													ID
												</th>
												<th>
													TECHNIQUE
												</th>
												<th>
													Expressions
												</th>
												<th>
													Detection method
												</th>
											</thead>
											<tbody>
												<tr>
													<td>
														1
													</td>
													<td>
														FILE OR FOLDER PERMISSIONS CHANGE
													</td>
													<td>
														Changes in file or folder permissions could indicate that an
														attacker is attempting to get access to files or folders on a
														network. This query will require the addition of whitelists for
														valid users who are authorized to change these rights

													</td>
													<td>
														Create a rule based on the query that matches any of “chmod or
														chown”
													</td>
												</tr>
												<tr>
													<td>
														2
													</td>
													<td>
														POTENTIALLY MALICIOUS SSHD ERRORS
													</td>
													<td>
														Examine SSH / SHHD error messages for indications of exploit
														attempts.
													</td>
													<td>
														Create a SIEM rule by parsing out and indexing the field where
														the below value appears within the sshd log.

														” ‘unexpected internal error‘, ‘unknown or unsupported key
														type‘, ‘invalid certificate signing key‘, ‘invalid elliptic
														curve value‘,’ incorrect signature‘, ‘error in libcrypto‘,
														‘unexpected bytes remain after decoding‘, ‘fatal:
														buffer_get_string: bad string‘, ‘Local: crc32 compensation
														attack‘, ‘bad client public DH value‘, ‘Corrupted MAC on input‘
														”
													</td>

												</tr>
												<tr>
													<td>
														3
													</td>
													<td>
														POTENTIALLY MALICIOUS VSFTPD ERRORS
													</td>
													<td>
														Errors in VSFTPD could be malicious, indicating that an exploit
														is being attempted.
													</td>
													<td>
														” ‘Connection refused: too many sessions for this address.’,
														‘Connection refused: tcp_wrappers denial.’, ‘Bad HTTP verb.’,
														‘port and pasv both active’, ‘pasv and port both active’,
														‘Transfer did (but failed to open directory).’, ‘Could not set
														file modification time.’, ‘bug: PID active in
														ptrace_sandbox_free’, ‘PTRACE_SETOPTIONS failure’, ‘weird
														status:’, “couldn’t handle sandbox event”, ‘syscall * out of
														bounds’, ‘syscall not permitted:’, ‘syscall validate failed:’,
														‘Input line too long.’, ‘poor buffer accounting in
														str_netfd_alloc’, ‘vsf_sysutil_read_loop’ “
													</td>
												</tr>
												<tr>
													<td>
														4
													</td>
													<td>
														FAILED LOGINS ON A SINGLE SOURCE WITH MANY USERS
													</td>
													<td>
														This might indicate a brute-force effort by an attacker using
														many accounts.
													</td>
													<td>
														Create a rule based on the failure of several accounts to log
														into the same source within a specific amount of time. Within 10
														minutes, keep a threshold of 20 accounts. Exclusions will need
														to be added for regularly used Terminal Servers, Jump Servers,
														and Work Stations. Depending on your environment, you may need
														to raise the threshold.
													</td>
												</tr>
												<tr>
													<td>
														5
													</td>
													<td>
														OVERWRITING FILES WITH DEV 0 OR NULL
													</td>
													<td>
														Many threat actors will try and hide their actions once they
														have carried out attacks. They may potentially remove files,
														resulting in a variety of problems. This method can be used to
														detect it.
													</td>
													<td>
														Create a rule which matches the query: ‘dd’ THEN Query matches =
														‘if=/dev/null’ OR ‘if=/dev/zero’
													</td>
												</tr>
												<tr>
													<td>
														6
													</td>
													<td>
														BUFFER OVERFLOW ATTEMPTS
													</td>
													<td>
														During attacks, attackers may attempt buffer overflows. This
														rule checks for four common indicators.
													</td>
													<td>
														” ‘attempt to execute code on stack by’, ‘FTP LOGIN FROM .*
														0bin0sh’, ‘rpc.statd[\d+]: gethostbyname error for’,
														‘AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA’ “
													</td>

												</tr>
												<tr>
													<td>
														7
													</td>
													<td>
														REMOVE IMMUTABLE FILE ATTRIBUTE </td>
													<td>
														Hackers may also try to modify immutable files on a Linux
														system. Immutable files are created with the intention of not
														being erased, however, this can be changed. The rule that
														follows looks for this to happen.
													</td>
													<td>
														Create a SIEM rule where the query matches ‘chattr’ THEN ‘-i’
													</td>

												</tr>
												<tr>
													<td>
														8
													</td>
													<td>
														SYSTEMD SERVICE RELOADED OR STARTED
													</td>
													<td>
														This rule looks at when a service starts or reloads. For
														legitimate services, whitelists will need to be established.
													</td>
													<td>
														Create a SIEM rule based on the query matches “systemctl” THEN
														query matches “daemon-reload OR start”
													</td>

												</tr>
												<tr>
													<td>
														9
													</td>
													<td>
														CLEARING COMMAND HISTORY
													</td>
													<td>
														After completing an attack on a Linux system, attackers will
														attempt to delete the command history. We may look at the
														commands that were used to do this
													</td>
													<td>
														rm *bash_history, echo “” > *bash_history, cat /dev/null >
														*bash_history, ln -sf /dev/null *bash_history, truncate -s0
														*bash_history, export HISTFILESIZE=0, history -c, history -w,
														shred *bash_history”
													</td>

												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container-fluid">
					<nav class="float-left">
						<ul>
							<li>
								<a href="https://github.com/kooshakoosha">
									Developer
								</a>
							</li>
							<li>
								<a href="https://www.gnu.org/licenses/gpl-3.0.en.html">
									Licenses
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</footer>
			<script>
				const x = new Date().getFullYear();
				let date = document.getElementById('date');
				date.innerHTML = '&copy; ' + x + date.innerHTML;
			</script>
		</div>
	</div>

	<!--   Core JS Files   -->
	<script src="../static/assets/js/core/jquery.min.js"></script>
	<script src="../static/assets/js/core/popper.min.js"></script>
	<script src="../static/assets/js/core/bootstrap-material-design.min.js"></script>
	<script src="https://unpkg.com/default-passive-events"></script>
	<script src="../static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
	<!-- Place this tag in your head or just before your close body tag. -->
	<script async defer src="https://buttons.github.io/buttons.js"></script>
	<!--  Google Maps Plugin    -->
	<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
	<!-- Chartist JS -->
	<script src="../static/assets/js/plugins/chartist.min.js"></script>
	<!--  Notifications Plugin    -->
	<script src="../static/assets/js/plugins/bootstrap-notify.js"></script>
	<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
	<script src="../static/assets/js/material-dashboard.js?v=2.1.0"></script>
	<!-- Material Dashboard DEMO methods, don't include it in your project! -->
	<script src="../static/assets/demo/demo.js"></script>
	<script>
		$(document).ready(function () {
			$().ready(function () {
				$sidebar = $('.sidebar');

				$sidebar_img_container = $sidebar.find('.sidebar-background');

				$full_page = $('.full-page');

				$sidebar_responsive = $('body > .navbar-collapse');

				window_width = $(window).width();

				$('.fixed-plugin a').click(function (event) {
					// Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
					if ($(this).hasClass('switch-trigger')) {
						if (event.stopPropagation) {
							event.stopPropagation();
						} else if (window.event) {
							window.event.cancelBubble = true;
						}
					}
				});

				$('.fixed-plugin .active-color span').click(function () {
					$full_page_background = $('.full-page-background');

					$(this).siblings().removeClass('active');
					$(this).addClass('active');

					var new_color = $(this).data('color');

					if ($sidebar.length != 0) {
						$sidebar.attr('data-color', new_color);
					}

					if ($full_page.length != 0) {
						$full_page.attr('filter-color', new_color);
					}

					if ($sidebar_responsive.length != 0) {
						$sidebar_responsive.attr('data-color', new_color);
					}
				});

				$('.fixed-plugin .background-color .badge').click(function () {
					$(this).siblings().removeClass('active');
					$(this).addClass('active');

					var new_color = $(this).data('background-color');

					if ($sidebar.length != 0) {
						$sidebar.attr('data-background-color', new_color);
					}
				});

				$('.fixed-plugin .img-holder').click(function () {
					$full_page_background = $('.full-page-background');

					$(this).parent('li').siblings().removeClass('active');
					$(this).parent('li').addClass('active');


					var new_image = $(this).find("img").attr('src');

					if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
						$sidebar_img_container.fadeOut('fast', function () {
							$sidebar_img_container.css('background-image', 'url("' + new_image + '")');
							$sidebar_img_container.fadeIn('fast');
						});
					}

					if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
						var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

						$full_page_background.fadeOut('fast', function () {
							$full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
							$full_page_background.fadeIn('fast');
						});
					}

					if ($('.switch-sidebar-image input:checked').length == 0) {
						var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
						var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

						$sidebar_img_container.css('background-image', 'url("' + new_image + '")');
						$full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
					}

					if ($sidebar_responsive.length != 0) {
						$sidebar_responsive.css('background-image', 'url("' + new_image + '")');
					}
				});

				$('.switch-sidebar-image input').change(function () {
					$full_page_background = $('.full-page-background');

					$input = $(this);

					if ($input.is(':checked')) {
						if ($sidebar_img_container.length != 0) {
							$sidebar_img_container.fadeIn('fast');
							$sidebar.attr('data-image', '#');
						}

						if ($full_page_background.length != 0) {
							$full_page_background.fadeIn('fast');
							$full_page.attr('data-image', '#');
						}

						background_image = true;
					} else {
						if ($sidebar_img_container.length != 0) {
							$sidebar.removeAttr('data-image');
							$sidebar_img_container.fadeOut('fast');
						}

						if ($full_page_background.length != 0) {
							$full_page.removeAttr('data-image', '#');
							$full_page_background.fadeOut('fast');
						}

						background_image = false;
					}
				});

				$('.switch-sidebar-mini input').change(function () {
					$body = $('body');

					$input = $(this);

					if (md.misc.sidebar_mini_active == true) {
						$('body').removeClass('sidebar-mini');
						md.misc.sidebar_mini_active = false;

						$('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

					} else {

						$('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

						setTimeout(function () {
							$('body').addClass('sidebar-mini');

							md.misc.sidebar_mini_active = true;
						}, 300);
					}

					// we simulate the window Resize so the charts will get updated in realtime.
					var simulateWindowResize = setInterval(function () {
						window.dispatchEvent(new Event('resize'));
					}, 180);

					// we stop the simulation of Window Resize after the animations are completed
					setTimeout(function () {
						clearInterval(simulateWindowResize);
					}, 1000);

				});
			});
		});
	</script>
</body>

</html>