<!doctype html>
<html lang="en">

<head>
	<title>KYGnus Support</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="../static/support-css/style.css">

</head>

<body style="background-image: url(../static/wolf.jpg);background-repeat: no-repeat;background-size:cover;">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">KYGnus Support</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="wrapper">
						<div class="row no-gutters">
							<div class="col-md-12 d-flex align-items-stretch">
								<div class="info-wrap w-100 p-md-5 p-4 py-5 img">
									<h3>Support information</h3>
									<p class="mb-4">For Support This Project :</p>
									<div class="dbox w-100 d-flex align-items-start">
										<div class="icon d-flex align-items-center justify-content-center">
											<span class="fa fa-bank"></span>
										</div>
										<div class="text pl-3">
											<p><span>Donate From Iran:</span> <span
													style="color: cyan;">6104338930731324</span> بانک ملت −
												کوشا یگانه
												اسفهلان
											</p>
										</div>
									</div>
									<div class="dbox w-100 d-flex align-items-center">
										<div class="icon d-flex align-items-center justify-content-center">
											<span class="fa fa-google"></span>
										</div>
										<div class="text pl-3">
											<p><span>Gmail:</span> <a
													href="mailto:info@yoursite.com">kooshakooshadv@gmail.com</a></p>
										</div>
									</div>
									<div class="dbox w-100 d-flex align-items-center">
										<div class="icon d-flex align-items-center justify-content-center">
											<span class="fa fa-github"></span>
										</div>
										<div class="text pl-3">
											<p><span>Github</span> <a href="#">https://github.com/KooshaYeganeh</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="../static/support-js/jquery.min.js"></script>
	<script src="../static/support-js/popper.js"></script>
	<script src="../static/support-js/bootstrap.min.js"></script>
	<script src="../static/support-js/jquery.validate.min.js"></script>
	<script src="../static/support-js/main.js"></script>

</body>

</html>